<%- include("partials/header",{showNavigation:true}) %>

    <div class="title-container">
        <h1 class="page-title">Movies</h1>

        <a class="button" href="/create">Create New Movie</a>
    </div>
    <hr />
    <div class="movies">

        <%movies.forEach(movie=> {%>
            <div class="movie">
                <a href="/preview/<%=movie._id%>">
                    <%=movie.name%>
                </a>
            </div>
            <%});%>


    </div>

    <%- include("partials/footer") %>