<%- include("partials/header",{showNavigation:false}) %>

    <h1 class="page-title">Registration</h1>

    <form class="registration-form" method="post">
        <label for="email">Email:</label>
        <input type="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" name="password" required>

        <div class="button-container">
            <button class="button">Register</button>
            <a class="button" href="/login">Log in</a>
        </div>

        <% if (error) { %>
            <p class="error-message">
                <%= error %>
            </p>
            <% } %>
    </form>

    <%- include("partials/footer") %>